:root {
  --bg: #0a192f;
  --text: #ccd6f6;
  --accent: #5edfff;
  --secondary: #8892b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
  background-image: linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 2px),
                    linear-gradient(to bottom, rgba(255,255,255,0.03) 1px, transparent 2px);
  background-size: 40px 40px;
}

.header-container {
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content:left;
  align-items: center;
  padding: 2rem;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  object-fit: cover;
  margin-right: 5rem;
  margin-left: 33rem;
}

.intro-text h1 {
  font-size: 2.5rem;
  color: var(--accent);
  margin-bottom: 0.5rem;
  text-align: center;
}

.intro-text p {
  color: var(--secondary);
  text-align: center;
}

section {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}

h2 {
  color: var(--accent);
  margin-bottom: 1rem;
}

.project {
  background-color: #112240;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.project h3 {
  margin-bottom: 0.5rem;
}

.project i {
  margin-right: 0.5rem;
  color: var(--accent);
}

.project p {
  color: var(--secondary);
}

footer {
  text-align: center;
  padding: 2rem;
  color: var(--secondary);
}

a {
  color: var(--accent);
  text-decoration: none;
}