<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나는 누구인가</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="lang-switch">
      <a href="../index-ko.html">뒤로가기</a>
      <a href="./aboutme.html">English</a>
    </div>

    <header class="header-container2">
      <h1>나는 누구인가</h1>
    </header>

    <section>
      <h2>1. 나의 정체성 & 가치관</h2>
      <div class="aboutme">
        <p>
          저는 기술을 통해 사회에 긍정적인 변화를 만들 것입니다. 원래는 심리
          상담에 관심이 있었지만, 더 많은 사람들에게 도움을 주고 싶다는 생각이
          들었습니다. 코로나19 팬데믹 시기에 대학생이 만든 '코로나맵'을 보며,
          저도 기술을 통해 많은 사람들을 도울 수 있을 거라고 생각했습니다.
          그래서 컴퓨터공학을 전공하게 되었고, 지금은 XR 분야를 통해 그 목표를
          실현하고자 노력하고 있습니다. 단순히 새로운 기술 구현을 하기보단, 이
          기술이 사람들에게 어떤 경험을 주고 어떤 문제를 해결해 줄 수 있는지
          먼저 고민합니다. 저는 기술은 사람을 위한 것이어야 한다고 생각합니다.
        </p>
      </div>
    </section>

    <section>
      <h2>2. 연구와 개발 철학</h2>
      <div class="aboutme">
        <p>
          저는 사회 기여를 위한 연구 성향을 가지고 있습니다. 항상 "이 기술이
          사회에 어떤 의미를 줄 수 있는가?"를 자문하며 개발에 임합니다. XR
          기술을 통해 사회적 약자, 특히 실종자 문제와 같은 현실적인 이슈를
          해결하고자 하는 프로젝트를 진행한 것도 같은 맥락입니다. 저는 기술을
          연구 그 자체로 바라보기보다는, 문제 해결을 위한 수단으로 바라보며, 그
          중심에는 사람과 현실이 있어야 한다고 생각합니다.
        </p>
      </div>
    </section>

    <section>
      <h2>3. 나의 여정과 전환점</h2>
      <div class="aboutme">
        <p>
          처음에는 '코로나맵'을 생각하며 웹과 앱 개발을 공부했지만, 큰 흥미를
          느끼지 못했습니다. 하지만 XR을 접하면서 기술에 대한 흥미가 폭발적으로
          증가했고, 이후 AI, 컴퓨터 그래픽스와 컴퓨터 비전으로 관심 분야가
          확장되었습니다. 실종자 탐지 XR 프로젝트를 진행하면서 기술을 통해
          사회적 문제를 직접적으로 해결할 수 있다는 확신을 얻었고, 그 과정에서
          다양한 기술과 프레임워크를 공부하며 큰 재미를 느꼈습니다. 이 경험은 제
          공부 방향의 전환점이 되었고, 앞으로의 진로와 연구 방향을 결정짓는
          중요한 계기가 되었습니다.
        </p>
      </div>
    </section>

    <section>
      <h2>4. 내가 꿈꾸는 미래</h2>
      <div class="aboutme">
        <p>
          저는 기술과 철학이 조화를 이루는 연구를 하고 싶습니다. 구체적으로는 XR
          기반의 AI 인터랙션 시스템, 인간과 기술의 상호작용을 최적화하는 UI/UX
          그리고 사회문제 해결을 위한 기술 연구에 관심이 많습니다. 장기적으로는
          논문과 실무를 아우르며, 사회에 실질적인 변화를 이끄는 연구자로
          성장하고 싶습니다. XR 기술이 단순한 몰입 체험을 넘어서, 다양한 사회
          문제에 대한 해결책을 기존과는 다른 새로운 방식으로 제시할 수 있는
          기술이 되길 바라고 있습니다.
        </p>
      </div>
    </section>

    <footer>
      <p>
        이 사이트를 보는 당신과 언젠가 같은 방향을 바라보며 함께 고민하고,
        연구할 수 있기를 바랍니다.
      </p>
      <p>&copy; 2025 장준호. 모든 권리 보유.</p>
    </footer>
  </body>
</html>
