<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery & Demos</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="lang-switch">
      <a href="../index.html">Back</a>
      <a href="./gallery-ko.html">한국어</a>
    </div>

    <header class="header-container2">
      <h1>Gallery & Demos</h1>
    </header>

    <section class="gallery">
      <h1>H.E.L.P.</h1>
      <section class="gallery-item">
        <div>
          <video controls width="100%">
            <source
              src="../static/video/face detection-20250330.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
          <div class="gallery-caption">Face Detection Success</div>
          <div class="gallery-caption"><strong>2025.03.30</strong></div>
        </div>
        <div>
          <video controls width="100%">
            <source
              src="../static/video/face detection + recognition-20250404.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
          <div class="gallery-caption">
            Face Detection and Recognition Success
          </div>
          <div class="gallery-caption"><strong>2025.04.04</strong></div>
        </div>
        <div>
          <video controls width="100%">
            <source
              src="../static/video/hand UI-20250507.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
          <div class="gallery-caption">Hand UI</div>
          <div class="gallery-caption"><strong>2025.05.07</strong></div>
        </div>
        <div>
          <video controls width="100%">
            <source
              src="../static/video/beta test-20250511.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
          <div class="gallery-caption">Beta Test</div>
          <div class="gallery-caption"><strong>2025.05.11</strong></div>
        </div>
      </section>
    </section>

    <footer>
      <p>
        I hope that someday, you and I will walk in the same direction —
        thinking, exploring, and researching together.
      </p>
      <p>&copy; 2025 Junho Jang. All rights reserved.</p>
    </footer>
  </body>
</html>
