<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery & Demos</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="lang-switch">
      <a href="../index-ko.html">뒤로가기</a>
      <a href="./gallery.html">English</a>
    </div>

    <header class="header-container2">
      <h1>Gallery & Demos</h1>
    </header>

    <section class="gallery">
        <h1>H.E.L.P.</h1>
      <section class="gallery-item">
        <div>
          <video controls width="100%">
            <source
              src="../static/video/face detection-20250330.mp4"
              type="video/mp4"
            />
            브라우저가 video 태그를 지원하지 않습니다.
          </video>
          <div class="gallery-caption">얼굴 탐지 성공</div>
          <div class="gallery-caption"><strong>2025.03.30</strong></div>
        </div>
        <div>
          <video controls width="100%">
            <source
              src="../static/video/face detection + recognition-20250404.mp4"
              type="video/mp4"
            />
            브라우저가 video 태그를 지원하지 않습니다.
          </video>
          <div class="gallery-caption">얼굴 탐지 및 인식 성공</div>
          <div class="gallery-caption"><strong>2025.04.04</strong></div>
        </div>
        <div>
          <video controls width="100%">
            <source
              src="../static/video/hand UI-20250507.mp4"
              type="video/mp4"
            />
            브라우저가 video 태그를 지원하지 않습니다.
          </video>
          <div class="gallery-caption">hand ui</div>
          <div class="gallery-caption"><strong>2025.05.07</strong></div>
        </div>
        <div>
          <video controls width="100%">
            <source
              src="../static/video/beta test-20250511.mp4"
              type="video/mp4"
            />
            브라우저가 video 태그를 지원하지 않습니다.
          </video>
          <div class="gallery-caption">베타 테스트</div>
          <div class="gallery-caption"><strong>2025.05.11</strong></div>
        </div>
      </section>
    </section>

    <footer>
      <p>
        이 사이트를 보는 당신과 언젠가 같은 방향을 바라보며 함께 고민하고,
        연구할 수 있기를 바랍니다.
      </p>
      <p>&copy; 2025 장준호. 모든 권리 보유.</p>
    </footer>
  </body>
</html>
